.contenedor{
    background-color: white;
    border: solid 2px black;
    height: 600px;
    width: 600px ;   
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
}
.rojo{
    color: white;
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle; 
}

.azul{
    color: white;
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}

.verde{
    color: white;
    background-color: green;
    height: 200px;
    width: 200px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}